.clickable {
    cursor: pointer;
}

#events {
    position: relative;
    top: 5em;
    left: 10em;
    padding: 5px;
    background-color: hsl(0, 0%, 95%);
    width: 32em;
}

#events h1 {
    text-align: center;
}

#events ul,
#events ol {
    padding: 0.5em 2em;
    list-style-type: none;
}

#events li:before {
    content: "\0BB \020";
    font-size: large;
    font-family: Copperplate Gothic Bold, sans-serif;
}

#weekview-container {
    position: relative;
    top: 22em;
    transform: translateY(-50%);
    white-space: nowrap;
    text-align: center;
}

#weekview-container > div {
    /* aesthetics */
    background-color: hsl(0, 0%, 95%);
    /* formatting */
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    /* location */
    height: 15em;
    width: 15em;
    margin: 5em 0em;
    padding: 1em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable:hover,
.clickable:hover h1 {
    color: hsl(0, 0%, 60%);
}

#weekview-container h1 {
    margin: 0px 0px 12px 0px;
}

#weekview-container > div > div {
    width: 36em !important;
}

#weekview-container > div > div > table {
    border-spacing: 1px;
    border-collapse: separate;
    table-layout: fixed;
    width: 36em;
    margin: auto;
}

#weekview-container > div.small {
    width: 13em;
}

#weekview-container > div.small h1 {
    font-size: large;
}

#weekview-container > div.large {
    height: auto;
    width: 40em;
    margin: 0em;
    padding: 2em;
}

#weekview-container > div.large h1 {
    font-size: xx-large;
}

#weekview-container > div.large table th {
    width: 3em;
    padding-right: 0.5em; 
    text-align: right;
}

#weekview-container > div.large table td.timeslot {
    position: relative;
    height: 22px;
    cursor: pointer;
}

#weekview-container > div.large table td.timeslot.busy {
    background-color: hsl(0, 30%, 80%);
}

#weekview-container > div.large table td.timeslot.free {
    background-color: hsl(120, 30%, 80%);
}
