#weekview-container .day.view-mode {
    margin-left: 2px;
    margin-right: 2px;
}

#weekview-container .day.large.view-mode {
    height: auto;
    width: auto;
    min-width: 230px;
    margin: 0em;
    padding: 30px;
}

#weekview-container .day table.view-mode {
    margin-right: 45px;
}